extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid") 
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra nisi sit amet quam cursus venenatis.

                p Duis eu diam lacus. Quisque gravida suscipit felis, eget sagittis enim tincidunt sit amet. Curabitur quis dolor sem. In a augue lectus. Suspendisse est massa, consequat eget suscipit pellentesque, rhoncus at metus. 

                p Mauris eget hendrerit ligula. Integer vulputate pretium sem eget convallis. Nullam rhoncus sem faucibus sem elementum commodo. Praesent a ex dui. Nullam porta molestie malesuada. Aenean placerat turpis et nisl lacinia facilisis. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Mauris eget hendrerit ligula. Integer vulputate pretium sem eget convallis. Nullam rhoncus sem faucibus sem elementum commodo. Praesent a ex dui. Nullam porta molestie malesuada. Aenean placerat turpis et nisl lacinia facilisis.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos 
                    p Mauris eget hendrerit ligula. Integer vulputate pretium sem eget convallis. Nullam rhoncus sem faucibus sem elementum commodo. Praesent a ex dui. Nullam porta molestie malesuada. Aenean placerat turpis et nisl lacinia facilisis.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Mauris eget hendrerit ligula. Integer vulputate pretium sem eget convallis. Nullam rhoncus sem faucibus sem elementum commodo. Praesent a ex dui. Nullam porta molestie malesuada. Aenean placerat turpis et nisl lacinia facilisis.

